{% extends 'geekshopmu/base.html' %}
{% load static %}
{% block content %}
		<div class="hero">
			<div class="header clearfix">
    				{% include 'geekshopmu/includes/main_menu.html' %}
				<a href="#" class="basket"></a>
			</div>
			<h1>Контакты</h1>
			<hr>
		</div>

		<div class="location">
			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Саратов. РФ</h4>
				<div class="contacts">
					<h6>Контактный телефон</h6>
					<p>+7-777-123-777</p>
				</div>
				<div class="contacts">
					<h6>Электронная почта</h6>
					<p>manunited1shopreddevils@mail.ru</p>
				</div>
				<div class="contacts">
					<h6>Фактический адрес магазина</h6>
					<p>Ул. Маршала Рокоссовского, 11</p>
				</div>
			</div>
			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Минск. Республика Беларусь</h4>
				<div class="contacts">
					<h6>Контактный телефон</h6>
					<p>+7-777-124-7771</p>
				</div>
				<div class="contacts">
					<h6>Электронная почта</h6>
					<p>manunited2shopreddevils@mail.ru</p>
				</div>
				<div class="contacts">
					<h6>Фактический адрес магазина</h6>
					<p>Пр-т. Маршала Жукова, 12</p>
				</div>
			</div>
			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Краснодар. РФ</h4>
				<div class="contacts">
					<h6>Контактный телефон</h6>
					<p>+7-777-122-7779</p>
				</div>
				<div class="contacts">
					<h6>Электронная почта</h6>
					<p>manunited3shopreddevils@mail.ru</p>
				</div>
				<div class="contacts">
					<h6>Фактический адрес магазина</h6>
					<p>Ул. Командарма Щорса, 15</p>
				</div>
			</div>

			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Подольск. РФ</h4>
				<div class="contacts">
					<h6>Контактный телефон</h6>
					<p>+7-782-154-7279</p>
				</div>
				<div class="contacts">
					<h6>Электронная почта</h6>
					<p>manunited4shopreddevils@mail.ru</p>
				</div>
				<div class="contacts">
					<h6>Фактический адрес магазина</h6>
					<p>Ул.Кирова, 5</p>
				</div>
			</div>
			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Екатеринбург. РФ</h4>
				<div class="contacts">
					<h6>Контактный телефон</h6>
					<p>+7-882-225-8715</p>
				</div>
				<div class="contacts">
					<h6>Электронная почта</h6>
					<p>manunited5shopreddevils@mail.ru</p>
				</div>
				<div class="contacts">
					<h6>Фактический адрес магазина</h6>
					<p>Ул. Краснознаменная, 22</p>
				</div>
			</div>

			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Оренбург. РФ</h4>
				<div class="contacts">
					<h6>Контактный телефон</h6>
					<p>+7-456-241-8271</p>
				</div>
				<div class="contacts">
					<h6>Электронная почта</h6>
					<p>manunited6shopreddevils@mail.ru</p>
				</div>
				<div class="contacts">
					<h6>Фактический адрес магазина</h6>
					<p>Ул. Комсомольская, 65</p>
				</div>
			</div>

			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Гродно. Республика Беларусь</h4>
				<div class="contacts">
					<h6>Контактный телефон</h6>
					<p>+7-124-281-0217</p>
				</div>
				<div class="contacts">
					<h6>Электронная почта</h6>
					<p>manunited7shopreddevils@mail.ru</p>
				</div>
				<div class="contacts">
					<h6>Фактический адрес магазина</h6>
					<p>Пр-т. Сталина, 15</p>
				</div>
			</div>

			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Комсомольск-на-Амуре. РФ</h4>
				<div class="contacts">
					<h6>Контактный телефон</h6>
					<p>+7-982-216-9184</p>
				</div>
				<div class="contacts">
					<h6>Электронная почта</h6>
					<p>manunited8shopreddevils@mail.ru</p>
				</div>
				<div class="contacts">
					<h6>Фактический адрес магазина</h6>
					<p>Ул. Советская, 3</p>
				</div>
			</div>

{% endblock %}
