<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Наш магазин</title>
	<link rel="stylesheet" type="text/css" href="/static/geekshopMU/style.css">
	<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.css">
</head>

<body>
	<div class="cont">
		<div class="main-theme">
			<div class="header clearfix">

				<ul class="menu-main">
					<li><a href="/" class="active">Главная</a></li>
					<li><a href="/products/">Наша продукция</a></li>
					<li><a href="/contacts/">Наши контакты</a></li>
				</ul>
				<a href="#" class="searcher"></a>
			</div>
			<div class="text-slider">
				<h3 class="green">ООО "МАГАЗИН ФК МАН ЮНАЙТЕД 056"</h3>
				<h3 class="green">Футбольная атрибутика</h3>
				<h5 class="big">Манчестер Юнайтед - наш любимый футбольный клуб!</h5>
			</div>
			<div class="navi">
				<a href="#"></a><a href="#"></a><a href="#"></a>
			</div>
		</div>

		<div class="featured">
			<div class="featured-menu">
				<p class="active" href="#"> &nbsp &nbsp &nbsp &nbsp «Манчестер Юнайтед» (полное название — Футбольный
					клуб «Манчестер Юнайтед», англ.
					Manchester United Football Club) — английский профессиональный футбольный клуб из Траффорда, Большой
					Манчестер. Был основан в 1878 году под названием «Ньютон Хит (Ланкашир энд Йоркшир Рейлуэй)», в 1902
					году изменил название на «Манчестер Юнайтед». Один из самых популярных футбольных клубов в мире.</p>
				&nbsp &nbsp &nbsp &nbspОдин из основателей
				английской Премьер-лиги в 1992 году. Домашний стадион «Юнайтед», «Олд Траффорд», был открыт в 1910
				году. Он является крупнейшим после «Уэмбли» футбольным стадионом в Англии и вмещает около 75 тысяч
				зрителей.
				<p class="active" href="#"> &nbsp &nbsp &nbsp &nbsp«Манчестер Юнайтед» является одним из самых успешных
					английских клубов по
					количеству
					выигранных
					титулов за всю историю, а под руководством Алекса Фергюсона — самым успешным клубом в Англии,
					выиграв 38 трофеев с 1986 по 2013 год. В сезоне 2012/13 «Юнайтед» в рекордный 20-й раз стал
					чемпионом Англии. В 1968 году «Манчестер Юнайтед» стал первым английским клубом, выигравшим Кубок
					европейских чемпионов, победив в финале португальскую «Бенфику» со счётом 4:1. В 1999 году клуб во
					второй раз выиграл главный европейский клубный трофей, одолев в финале мюнхенскую «Баварию» со
					счётом 2:1. В 2008 году «Юнайтед» вновь выиграл Лигу чемпионов, обыграв в финале лондонский «Челси».
					В 2019 году «Манчестер Юнайтед» занимал третье место по доходам среди всех футбольных клубов мира. В
					2019 году Forbes оценивал клуб в 3,81 млрд долларов (3 млрд фунтов). Таким образом, «Манчестер
					Юнайтед» занимает шестое место в списке самых дорогостоящих спортивных клубов в мире и третье место
					в списке самых дорогостоящих футбольных клубов.</p>
				<p class="active" href="#">&nbsp &nbsp &nbsp &nbspТрадиционными соперниками команды являются
					«Ливерпуль», «Лидс Юнайтед» и
					«Манчестер Сити», против
					которых разыгрываются северо-западное дерби, «дерби роз» и манчестерское дерби соответственно.
					Главным тренером клуба до окончания сезона 2021/22 является Ральф Рангник, назначенный на эту
					должность в ноябре 2021 года после увольнения Уле Гуннара Сульшера. Капитаном команды с января 2020
					года является Гарри Магуайр.</p>
			</div>

		</div>

		<div class="pvd"></div>

	</div>

	<div class="footer">
		<div class="clearfix">
			<div class="text-footer">
				<h3>контакты</h3>
				<p>Директор: Дубинин В.Ю. Телефон 7-111-199-2123</p>
			</div>
			<div class="text-footer">
				<h3>Информация для справки</h3>
				<p>Ценовая политика условная!</p>
			</div>
			<div class="text-footer clearfix">
				<h3>Обратная связь с нами</h3>
				<p>Подписаться на новости и рассылки</p>
				<form>
					<input type="email" name="email" placeholder="Введите Ваш email">
					<a href="#"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i></a>
				</form>
			</div>
		</div>
		<p class="small">&copy; GEEK UNIVERSITY PYTHON-разработки 12.2021 (данный сайт является учебным!)</p>
		<div class="social">
			<p>Поделитесь в: </p>
			<a href="#" class="social1"></a>
			<a href="#" class="social2"></a>
			<a href="#" class="social3"></a>
			<a href="#" class="social4"></a>
		</div>
	</div>
	<a href="#" class="button-order">Телефон горячей линии: <br> 7-456-241-8271</a>

</body>

</html>