{% extends 'geekshopMU/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/mainapp/style.css' %}">
{% endblock %}

{% block content %}
		<div class="hero-white">
			<div class="header clearfix">
				{% include 'geekshopMU/includes/main_menu.html' %}
                <a href="#" class="basket"></a>
			</div>
		</div>

		<div class="details">
			<div class="links clearfix">

				<ul class="links-menu">
                    <li>
                        <a href="{% url 'products:category' 0 %}"
                           class="{% if request.resolver_match.kwargs.pk == 0 %}active{% endif %}">ВСЕ КАТЕГОРИИ
                        </a>
                    </li>
					{% for link in links_menu %}
						<li>
                            <a href="{% url 'products:category' link.pk %}"
                               class="{% if request.resolver_match.kwargs.pk|add:'0' == link.pk %} active {% endif %}">
                                {{link.name}}
                            </a>
                        </li>
					{% endfor %}
				</ul>
			</div>

			<div class="details-products">
				<div class="details-slider">
					<div class="slider-product">
						<img src="{{ hot_product.image.url }}">
					</div>
					<div class="slider-control">
						<div class="block">
							<a href="#"><img src="{% static '/img/controll.jpg' %}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="{% '/img/controll1.jpg' %}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="{% '/img/controll2.jpg' %}" alt="">
								<div class="text"></div>
							</a>
						</div>
					</div>
				</div>

						<div class="one-products">
			<div class="main-our-slide">
				<div class="slide-one-product">
					<img src="{% static '/geekshopMU/img/photo_1.jpg' %}">
				</div>
			</div>

			<div class="describe">
				<h2 class="big-bold">{{ hot_product.short_desc }}</h2>
				<h2 class="big-bold">Футболка №7 Криштиану Роналду</h2>
				<h3 class="red">Горячее предложение (скидка 20%, цена указана с учетом скидки)</h3>
				<p class="price"> {{ hot_product.price }} <span>рублей</span></p>
				<a href="{% url 'mainapp:detail' pk=hot_product.pk %}" class="product-button">
					заказать товар <i class="fa fa-chevron-right" aria-hidden="true"></i>
				</a>
				<div class="text-in-describe">
						{{ hot_product.description }}
				</div>
			</div>
		</div>
		<hr>

                <div class="products_list">
                  <div class="title clearfix">
                      {% if category %}
                        <h2>
                          Категория: "{{ category.name|title }}"
                        </h2>
                      {% endif %}
                  </div>
                  <div class="related-products clearfix">

                    {% for product in products %}
                      <div class="block">
                        <a href="{% url 'mainapp:detail' pk=product.pk %}">
                          <img src="/media/{{ product.image }}" alt="product">
                          <div class="text">
                            <img src="{% static 'img/icon-hover.png' %}" alt="hover">
                              <h4>{{ product.name }}</h4>
                              <p>{{ product.description }}</p>
                          </div>
                        </a>
                      </div>
                    {% endfor %}

                  </div>


			<div class="related">
				<div class="title clearfix">
					<h2>Похожие продукты</h2>
					<a class="explore" href="#">показать все <img src="{% '/img/arrow.png' %}" alt=""></a>
				</div>
				<div class="related-products clearfix">
                    {% for product in same_products %}
                        <div class="block">
                            <a href="{% url 'mainapp:detail' pk=product.pk %}"><img src="/media/{{ product.image }}" alt="">
                                <div class="text">
                                    <img src="img/icon-hover.png" alt="img">
                                    <h4>{{ product.name }}</h4>
                                    <p>{{ product.description }} </p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
				</div>
			</div>
		</div>

{% endblock %}














<!--		<div class="one-products">-->
<!--			<div class="main-our-slide">-->
<!--				<div class="slide-one-product">-->
<!--					<img src="{% static '/geekshopMU/img/photo_1.jpg' %}">-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="describe">-->
<!--				<h2 class="big-bold">Продукция №1</h2>-->
<!--				<h2 class="big-bold">Футболка №7 Криштиану Роналду</h2>-->
<!--				<h3 class="red">Горячее предложение (скидка 20%, цена указана с учетом скидки)</h3>-->
<!--				<p class="price"> 1250.00 <span>рублей</span></p>-->
<!--				<a href="#" class="product-button">-->
<!--					заказать товар <i class="fa fa-chevron-right" aria-hidden="true"></i>-->
<!--				</a>-->
<!--				<div class="text-in-describe">-->
<!--					<p>Состав: 100% полиэстер с улучшенными характеристиками!</p>-->
<!--					<p>Доставим Вам от 3 от 14 дней от 120 рублей!</p>-->
<!--					<p>Размеры: </p>-->
<!--					<p>XS (44-46), S(48), M(50), L(52), XL(54), XXL(58), XXXL(60-62)</p>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--		<hr>-->
